/* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: blue;
}

h1 {
  color: #6e6e6e;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  color: #6e6e6e;
  font-size: 16px;
}

/* navbar styling */

.navbar {
  background-color: #e8e8e8;
  height: 70px;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 9px;
  margin: 0 10px;
}

.navbar a:visited {
  color: #aeaeae; /* change me!!! */
}

.navbar a:hover {
  color: #ffffff; /* change me!!! */
}

.navbar a:active {
  color: #6e6e6e; /* change me!!! */
}

a {
  color: #6e6e6e;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.material-symbols-outlined {
  margin-right: 10px;
  color: #6e6e6e;
}

/* container styling */
.container {
  margin: 0 auto;
  width: 100%;
  overflow: visible;
}

img {
  width: 100%;
}

/* styling main section */
.main-section {
  height: 400px;
  background-color: #ffffff;
}

.main-section h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.cam-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 50px;
}

.intro-text {
  text-align: center;
  margin-left: 40px;
}

.image {
  text-align: center;
}

/* footer styling */

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

footer {
  background-color: #e8e8e8;
  height: 70px;
  padding: 20px 10px;
  text-align: center;
}

footer a {
  color: #6e6e6e;
  margin: 0 10px;
}

/* dark mode class */
/* .dark-mode {
  background-color: black;
} */
